@import url("setups/normalize.css");
@import url("setups/fonts.css");
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "alegreya_sans", Helvetica, sans-serif;
  color: black;
  background: #fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  min-height: 36.1111111111rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  color: black;
}
.section-hero {
  background: url(../img/jpg/decor/ornament.png) right bottom no-repeat;
  background-color: #86c3d7;
  color: white;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .section-hero {
    background-position: right bottom 80%;
  }
}
@media screen and (max-width: 768px) {
  .section-hero::before, .section-hero::after {
    display: none;
  }
}
.section-hero:before {
  content: url(../img/jpg/decor/leaf.png);
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
}
.section-hero:after {
  content: url(../img/jpg/decor/berries.png);
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
}
.section-why {
  background: url(../img/jpg/why-us/decor/leaf-orn.png) left top 50% no-repeat;
}
@media screen and (max-width: 768px) {
  .section-why {
    background-position: left top 12%;
  }
}
.section-why::before {
  content: url(../img/jpg/why-us/decor/berry.png);
  position: absolute;
  left: 0;
  bottom: -4.4444444444rem;
}
.section-review {
  background: url(../img/jpg/reviews/top-berries.png) right -6% top 9% no-repeat;
}
.section-review::before {
  content: url(../img/jpg/reviews/bot-berries.png);
  position: absolute;
  left: 0;
  bottom: -5.5555555556rem;
}
@media screen and (max-width: 768px) {
  .section-review::before {
    left: -2rem;
    bottom: -9rem;
  }
}
.section-form {
  background: url(../img/jpg/form/leaf.png) right bottom 4.4444444444rem no-repeat, url(../img/jpg/form/bot-berry.png) left 2% bottom 4.4444444444rem no-repeat, url(../img/jpg/form/pattern.png) center center/100% no-repeat;
  color: #365a49;
}
.section-form::before {
  content: url(../img/jpg/form/top-berry.png);
  position: absolute;
  right: -4.3333333333rem;
  top: -9.3333333333rem;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 940px;
  position: relative;
}
.container-hero {
  height: 100%;
  background: url(../img/jpg/decor/choch.png) right center/50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .container-hero {
    background: none;
    justify-content: flex-start;
  }
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.3333333333rem;
  align-items: center;
  margin-bottom: 5.5555555556rem;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 7.5rem;
  }
}

.menu {
  margin: 0 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.5rem;
  margin-top: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.contacts {
  flex-shrink: 0;
}
.contacts:hover {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.contacts__phone {
  font-style: normal;
  text-decoration: none;
}
.contacts__phone:before {
  content: url(../img/jpg/phone.png);
  margin-right: 0.2777777778rem;
}
.contacts__phone--header {
  font-size: 1.3333333333rem;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .contacts__phone--header {
    display: none;
  }
}
.contacts__phone--footer {
  font-size: 1.1666666667rem;
  color: #365a49;
}

.order {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 3.7222222222rem;
}
@media screen and (max-width: 768px) {
  .order {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .order::before {
    content: url(../../img/jpg/tablets/hero-bg.png);
  }
}

.order__headline {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0.2777777778rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .order__headline {
    margin-bottom: 1.1111111111rem;
  }
}

.order__description {
  font-size: 1.1666666667rem;
  margin-bottom: 1.8888888889rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .order__description {
    padding: 0 25%;
    margin-bottom: 1.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .order__description {
    padding: 0 15%;
  }
}

.btn {
  display: inline-block;
  width: 156px;
  font-size: 19px;
  font-weight: 800;
  padding: 17px 0;
  border-radius: 40px;
  outline: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn--theme--white {
  color: #365a49;
  background-color: white;
}
.btn--theme--white:hover {
  color: white;
  background-color: #365a49;
}
.btn--theme--white:active {
  font-weight: bold;
}

.btn--theme--green {
  color: #fff;
  background-color: #365a49;
}
.btn--theme--green:hover {
  color: #365a49;
  background-color: white;
}

.btn--theme--transparent {
  width: 5.5555555556rem;
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #365a49;
}

.feature {
  display: flex;
  width: 50%;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .feature {
    display: none;
  }
}

.feature__item {
  display: flex;
  margin-right: 2.5555555556rem;
}
.feature__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.why-chocco {
  padding-top: 5.5555555556rem;
  padding-bottom: 6.6666666667rem;
}

.why-chocco__highlight {
  margin: 0 auto;
  width: 55%;
  text-align: center;
  margin-bottom: 2.7777777778rem;
}

.why-chocco__headline {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.why-chocco__desc {
  color: #666666;
}

.why-chocco__list {
  display: flex;
  justify-content: space-between;
}

.why-chocco__item {
  padding-right: 7.5%;
}
.why-chocco__item:last-child {
  padding-right: 0;
}
.why-chocco__item:last-child::before {
  display: none;
}

.reason-why {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  position: relative;
}
.reason-why::before {
  content: url(../img/jpg/why-us/decor/sep.png);
  position: absolute;
  top: 3.3333333333rem;
  right: 0;
}

.reason-why__pic {
  margin-bottom: 1.4444444444rem;
  width: 6.9444444444rem;
  height: 6.9444444444rem;
  border-radius: 50%;
  background-color: #f3f5f3;
  position: relative;
}

.reason-why__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reason-why__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-align: center;
}

.reason-why__desc {
  color: #666666;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
}

.reviews {
  padding-top: 3.8888888889rem;
}

.reviews__headline {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__headline {
    margin-bottom: 30px;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  margin-right: 0.6666666667rem;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}

.review {
  background: url(../img/jpg/reviews/in-ornament.png) right top no-repeat;
  background-color: #f8faf9;
  display: flex;
  padding: 2.8333333333rem 10rem 1.9444444444rem 2.5555555556rem;
  margin-bottom: 1.1111111111rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .review {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding: 2.9444444444rem 1.1111111111rem 1.1111111111rem 1.6666666667rem;
    margin-bottom: 45px;
  }
}
.review::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -3.6111111111rem;
}

.review__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  overflow: hidden;
  margin-right: 2.5%;
}
@media screen and (max-width: 768px) {
  .review__avatar {
    width: 8.0555555556rem;
    height: 8.0555555556rem;
    margin-bottom: 12px;
    margin-right: 0;
  }
}

.review__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.review__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5555555556rem;
}

.review__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.review__text {
  color: #666666;
  margin-bottom: 1.7777777778rem;
  line-height: 1.2;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .review__text {
    margin-bottom: 15px;
  }
}

.review__name {
  font-weight: 500;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid transparent;
  position: relative;
}
@media screen and (max-width: 768px) {
  .interactive-avatar {
    width: 70px;
    height: 70px;
  }
}
.interactive-avatar--active, .interactive-avatar:hover {
  border-color: #365a49;
}

.interactive-avatar__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form {
  display: flex;
}

.form__headline {
  font-size: 48px;
  font-weight: bold;
  color: #365a49;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.1111111111rem;
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 0.7222222222rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5555555556rem;
}
.form__controls:nth-last-child(2) {
  margin-bottom: 2.2222222222rem;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1rem;
}
.radio:last-child {
  margin-right: 0;
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/jpg/form/tick.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: 0.6666666667rem;
}
.radio__visible::before {
  display: none;
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link, .fixed-menu__item:hover .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.map__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5.1666666667rem;
  background-color: #fff;
}

.social-nets {
  margin-right: 75px;
}

.social-nets__list {
  display: flex;
}

.social-nets__item {
  margin-right: 10px;
}
.social-nets__item:last-child {
  margin-right: 0;
}

.social-nets__link {
  display: block;
  text-decoration: none;
  width: 23px;
  height: 23px;
  background: center center no-repeat;
}

.social-nets_icon_vk .social-nets__link {
  width: 23px;
  height: 23px;
  background: url(../../img/jpg/socials/vk.png) center center no-repeat;
  opacity: 30%;
  transition: 0.3s;
}
.social-nets_icon_vk .social-nets__link:hover {
  background: url(../../img/jpg/socials/vk.png) center center no-repeat;
  opacity: 100%;
}

.social-nets_icon_fb .social-nets__link {
  width: 23px;
  height: 23px;
  background: url(../../img/jpg/socials/fb.png) center center no-repeat;
  opacity: 30%;
  transition: 0.3s;
}
.social-nets_icon_fb .social-nets__link:hover {
  background: url(../../img/jpg/socials/fb.png) center center no-repeat;
  opacity: 100%;
}

.social-nets_icon_ig .social-nets__link {
  width: 23px;
  height: 23px;
  background: url(../../img/jpg/socials/ig.png) center center no-repeat;
  opacity: 30%;
  transition: 0.3s;
}
.social-nets_icon_ig .social-nets__link:hover {
  background: url(../../img/jpg/socials/ig.png) center center no-repeat;
  opacity: 100%;
}

.social-nets_icon_tw .social-nets__link {
  width: 23px;
  height: 23px;
  background: url(../../img/jpg/socials/tw.png) center center no-repeat;
  opacity: 30%;
  transition: 0.3s;
}
.social-nets_icon_tw .social-nets__link:hover {
  background: url(../../img/jpg/socials/tw.png) center center no-repeat;
  opacity: 100%;
}

.hamburger {
  height: 20px;
  width: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}