@import url("setups/normalize.css");
@import url("setups/fonts.css");
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "alegreya_sans", Helvetica, sans-serif;
  color: black;
  background: #fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  min-height: 36.1111111111rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  color: black;
}
@media screen and (max-width: 768px) {
  .section {
    min-height: 31.5555555556rem;
  }
}
.section-hero {
  background: url(../img/jpg/decor/ornament.png) right bottom no-repeat;
  background-color: #86c3d7;
  color: white;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .section-hero {
    background-position: right bottom 80%;
  }
}
@media screen and (max-width: 480px) {
  .section-hero {
    background-position: right 5% bottom 80%;
    background-size: 80%;
  }
}
@media screen and (max-width: 768px) {
  .section-hero::before, .section-hero::after {
    display: none;
  }
}
.section-hero:before {
  content: url(../img/jpg/decor/leaf.png);
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
}
.section-hero:after {
  content: url(../img/jpg/decor/berries.png);
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
}
.section-why {
  background: url(../img/jpg/why-us/decor/leaf-orn.png) left top 50% no-repeat;
}
@media screen and (max-width: 768px) {
  .section-why {
    background-position: left top 12%;
  }
}
@media screen and (max-width: 480px) {
  .section-why {
    background: none;
  }
}
.section-why::before {
  content: url(../img/jpg/why-us/decor/berry.png);
  position: absolute;
  left: 0;
  bottom: -4.4444444444rem;
}
@media screen and (max-width: 480px) {
  .section-why::before {
    display: none;
  }
}
.section-slider {
  background: url("../img/jpg/slider/ornament.png") bottom -214px right no-repeat;
  background-color: #f8faf9;
}
.section-slider::after {
  content: url("../img/jpg/slider/berries.png");
  position: absolute;
  right: 10px;
  bottom: -80px;
}
.section-team {
  background: transparent;
}
.section-review {
  background: url(../img/jpg/reviews/top-berries.png) right -6% top 9% no-repeat;
}
@media screen and (max-width: 480px) {
  .section-review {
    background: url(../img/jpg/reviews/top-berries.png) right -15% top 0%/35% no-repeat;
  }
}
.section-review::before {
  content: url(../img/jpg/reviews/bot-berries.png);
  position: absolute;
  left: 0;
  bottom: -5.5555555556rem;
}
@media screen and (max-width: 768px) {
  .section-review::before {
    left: -2rem;
    bottom: -9rem;
  }
}
@media screen and (max-width: 480px) {
  .section-review::before {
    left: -2rem;
    bottom: -9rem;
    transform: scale(0.5);
  }
}
.section-form {
  background: url(../img/jpg/form/leaf.png) right bottom 4.4444444444rem no-repeat, url(../img/jpg/form/bot-berry.png) left 2% bottom 4.4444444444rem no-repeat, url(../img/jpg/form/pattern.png) center center/cover no-repeat;
  color: #365a49;
}
@media screen and (max-width: 768px) {
  .section-form {
    background: url(../img/jpg/form/pattern.png) center center/cover no-repeat;
    color: #365a49;
  }
}
.section-form::before {
  content: url(../img/jpg/form/top-berry.png);
  position: absolute;
  right: -5rem;
  top: -9.3333333333rem;
}
@media screen and (max-width: 768px) {
  .section-form::before {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 768px) {
  .section-form::before {
    transform: scale(0.45);
  }
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 940px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container-hero {
  height: 100%;
  background: url(../img/jpg/decor/choch.png) right center/50% auto no-repeat;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .container-hero {
    background: none;
  }
}
.container-why {
  height: 100%;
  justify-content: center;
}
.container-slider {
  margin: 0 0.5555555556rem;
}
.container-slider .bx-wrapper {
  background: transparent;
  box-shadow: none;
  border: none;
}
.container-review {
  height: 100%;
  justify-content: center;
}
.container-footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .container-footer {
    flex-direction: column;
    align-items: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.3333333333rem;
  align-items: center;
}

.menu {
  margin: 0 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.5rem;
  margin-top: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.contacts {
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .contacts--header {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .contacts--footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contacts:hover {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.contacts__phone {
  font-style: normal;
  text-decoration: none;
}
.contacts__phone--header {
  font-size: 1.3333333333rem;
  white-space: nowrap;
}
.contacts__phone--footer {
  font-size: 1.1666666667rem;
  color: #365a49;
}

.phone-icon {
  width: 12px;
  height: 12px;
  fill: white;
}
.phone-icon--footer {
  fill: #365a49;
}

.section-headline {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .section-headline {
    font-size: 2.2222222222rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    padding-bottom: 9.3rem;
  }
}
@media screen and (max-width: 480px) {
  .hero-content {
    padding-bottom: 4.4444444444rem;
  }
}

.order {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .order {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .order::before {
    content: "";
    width: 80vw;
    height: 40vh;
    background: url(../img/jpg/tablets/hero-bg.png) center center/contain no-repeat;
  }
}
@media screen and (max-width: 480px) {
  .order::before {
    width: 60vw;
    height: 30vh;
  }
}

.order__headline {
  color: white;
  margin-bottom: 0.2777777778rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .order__headline {
    margin-bottom: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .order__headline {
    font-size: 2.2222222222rem;
    max-width: 90%;
    margin-bottom: 0.4444444444rem;
  }
}

.order__description {
  font-size: 1.1666666667rem;
  margin-bottom: 1.8888888889rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .order__description {
    padding: 0 25%;
    margin-bottom: 1.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .order__description {
    padding: 0 15%;
    font-size: 1rem;
  }
}

.btn {
  display: inline-block;
  height: 3.2222222222rem;
  width: 156px;
  font-size: 19px;
  font-weight: 800;
  padding: 17px 0;
  border-radius: 40px;
  outline: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  z-index: 50;
}

.btn--theme--white {
  color: #365a49;
  background-color: white;
}
.btn--theme--white:hover {
  color: white;
  background-color: #365a49;
}
.btn--theme--white:active {
  font-weight: bold;
}

.btn--theme--green {
  color: #fff;
  background-color: #365a49;
}
.btn--theme--green:hover {
  color: #365a49;
  background-color: white;
}

.btn--theme--transparent {
  width: 5.5555555556rem;
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #365a49;
}

.feature {
  display: flex;
  width: 50%;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .feature {
    display: none;
  }
}

.feature__item {
  display: flex;
  margin-right: 2.5555555556rem;
}
.feature__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #c6f7ff;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

@media screen and (max-width: 480px) {
  .why-chocco {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.why-chocco__highlight {
  padding: 0 22%;
  margin-bottom: 2.7777777778rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .why-chocco__highlight {
    padding: 0 8%;
    margin-bottom: 2vh;
    line-height: 1.1;
  }
}

.why-chocco__desc {
  color: #666666;
}

.why-chocco__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .why-chocco__list {
    flex-direction: column;
    align-items: center;
    height: 70%;
  }
}

.why-chocco__item {
  padding-right: 7.5%;
}
@media screen and (max-width: 480px) {
  .why-chocco__item {
    padding-right: 0;
    margin-bottom: 3vh;
  }
}
.why-chocco__item:last-child {
  padding-right: 0;
}
@media screen and (max-width: 480px) {
  .why-chocco__item:last-child {
    margin-bottom: 0;
  }
}
.why-chocco__item:last-child::before {
  display: none;
}

.reason-why {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 480px) {
  .reason-why {
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }
}
.reason-why::before {
  content: url(../img/jpg/why-us/decor/sep.png);
  position: absolute;
  top: 3.3333333333rem;
  right: 0;
}
@media screen and (max-width: 768px) {
  .reason-why::before {
    display: none;
  }
}

.reason-why__pic {
  margin-bottom: 1.4444444444rem;
  width: 6.9444444444rem;
  height: 6.9444444444rem;
  border-radius: 50%;
  background-color: #f3f5f3;
  position: relative;
}
@media screen and (max-width: 480px) {
  .reason-why__pic {
    margin-bottom: 0;
    margin-right: 2%;
    width: 23vw;
    height: 23vw;
  }
}

.reason-why__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}
@media screen and (max-width: 480px) {
  .reason-why__icon {
    max-width: 70%;
  }
}

.reason-why__text {
  text-align: left;
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  .reason-why__text {
    width: 70%;
  }
}

.reason-why__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .reason-why__title {
    text-align: left;
    margin-bottom: 0;
  }
}

.reason-why__desc {
  color: #666666;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .reason-why__desc {
    text-align: left;
  }
}

.slider {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .slider {
    position: relative;
  }
}

.slider__arrow {
  width: 0.8888888889rem;
  fill: #151515;
  cursor: pointer;
  z-index: 50;
}
@media screen and (max-width: 768px) {
  .slider__arrow {
    position: absolute;
  }
}

.arrow-left {
  transform: scale(-1, 1);
}
@media screen and (max-width: 768px) {
  .arrow-left {
    top: 9%;
    left: 5%;
  }
}

@media screen and (max-width: 768px) {
  .arrow-right {
    top: 9%;
    right: 5%;
  }
}

.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slide {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .slide__pic {
    width: 50%;
    margin-bottom: 1.3888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .slide__pic {
    width: 70%;
    margin-bottom: 0.2777777778rem;
  }
}

.slide__content {
  padding: 0 60px;
  width: 55%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .slide__content {
    padding: 0;
    width: 80%;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .slide__content {
    width: 90%;
  }
}

.slide__composition {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  background: #86c3d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6666666667rem;
}
.slide__composition:hover {
  background: #60aacc;
}
.slide__composition:hover .composition {
  display: block;
}
@media screen and (max-width: 768px) {
  .slide__composition {
    display: none;
  }
}

.slide__composition-pic {
  width: 51px;
  height: 51px;
  margin-bottom: 0.4444444444rem;
  fill: #fff;
}

.slide__composition-text {
  font-size: 0.7777777778rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.composition {
  display: none;
  position: absolute;
  bottom: -266%;
  right: -306%;
  width: 275px;
  background: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.composition__list {
  padding: 22px 18px 25px 30px;
}

.composition__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.composition__item:last-child {
  margin-bottom: 0;
}

.composition__icon {
  width: 37px;
  height: 37px;
}

.composition__ingredient {
  width: 55%;
  font-weight: 500;
}

.composition__weight {
  font-weight: bold;
}

.slide__headline {
  font-size: 2rem;
  margin-bottom: 0.6666666667rem;
}
@media screen and (max-width: 768px) {
  .slide__headline {
    text-align: center;
  }
}

.slide__text {
  color: #666666;
  margin-bottom: 1.9444444444rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .slide__text {
    text-align: center;
  }
}

.slide__traits {
  display: flex;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .slide__traits {
    justify-content: center;
  }
}

.slide__calories {
  margin-right: 2.7777777778rem;
}

.slide__trait-value {
  font-weight: bold;
  display: block;
  color: #000;
}

.slide__price {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slide__price {
    justify-content: center;
  }
}

.slide__price-tag {
  font-size: 3.3333333333rem;
  font-weight: 300;
  color: #151515;
  margin-right: 1.6666666667rem;
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  .slide__price-tag {
    margin-right: 0.8333333333rem;
  }
}
.slide__price-tag span {
  font-size: 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .slide__price-tag span {
    font-size: 1.9444444444rem;
  }
}

.team__headline {
  text-align: center;
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .team__headline {
    margin-bottom: 2.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .team__headline {
    margin-bottom: 1.1111111111rem;
  }
}

.team__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team__list {
    display: none;
  }
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .team__item {
    width: 40%;
    margin-bottom: 0.9444444444rem;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    width: 70%;
  }
}

.team__photo {
  width: 100%;
  height: 16rem;
  overflow: hidden;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .team__photo {
    width: 12.3333333333rem;
  }
}

.team__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__name {
  font-size: 1.1666666667rem;
  font-weight: bold;
  margin-bottom: 0.4444444444rem;
  position: relative;
}
.team__name::after {
  content: "";
  border: 5px solid transparent;
  border-bottom: 5px solid #365a49;
  position: absolute;
  right: -15px;
  top: 5px;
  transition: transform 0.3s;
}
@media screen and (max-width: 768px) {
  .team__name {
    margin-bottom: 0;
  }
}

.team__item.opened .team__name {
  margin-bottom: 10px;
}
.team__item.opened .team__name::after {
  transform: rotate(180deg);
  right: -15px;
  top: 11px;
}

.team__desc {
  overflow: hidden;
  height: 0;
  position: absolute;
  top: 100%;
  transition: height 0.3s;
}
@media screen and (max-width: 768px) {
  .team__desc {
    position: static;
  }
}

.team__desc-block {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .team__desc-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__text {
  font-weight: 300;
  color: #666666;
}

.team__list--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team__list--mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .reviews {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .reviews__content-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.reviews__headline {
  text-align: center;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__headline {
    margin-bottom: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__headline {
    margin-bottom: 3vh;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  margin-right: 0.6666666667rem;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}

.reviews__list {
  position: relative;
  min-height: 40vh;
}

.reviews__item {
  position: absolute;
  opacity: 0;
}
.reviews__item.active {
  position: static;
  opacity: 1;
}

.review {
  background: url(../img/jpg/reviews/in-ornament.png) right top no-repeat;
  background-color: #f8faf9;
  display: flex;
  padding: 2.8333333333rem 10rem 1.9444444444rem 2.5555555556rem;
  margin-bottom: 1.1111111111rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .review {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding: 2.9444444444rem 1.1111111111rem 1.1111111111rem 1.6666666667rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .review {
    background-position: right top 10%;
    background-repeat: no-repeat;
    background-size: 25%;
    margin-bottom: 3vh;
    padding-top: 1.3888888889rem;
  }
}
.review::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -3.6111111111rem;
}
@media screen and (max-width: 480px) {
  .review::before {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.review__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  overflow: hidden;
  margin-right: 2.5%;
}
@media screen and (max-width: 768px) {
  .review__avatar {
    width: 8.0555555556rem;
    height: 8.0555555556rem;
    margin-bottom: 0.6666666667rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .review__avatar {
    width: 6.9444444444rem;
    height: 6.9444444444rem;
    margin-bottom: 0.4444444444rem;
  }
}

.review__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.review__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .review__content {
    padding-top: 0;
  }
}

.review__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1;
}

.review__text {
  color: #666666;
  margin-bottom: 1.7777777778rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .review__text {
    margin-bottom: 0.8333333333rem;
  }
}

.review__name {
  font-weight: 500;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid transparent;
  position: relative;
  z-index: 50;
}
@media screen and (max-width: 768px) {
  .interactive-avatar {
    width: 70px;
    height: 70px;
  }
}
.interactive-avatar.active, .interactive-avatar:hover {
  border-color: #365a49;
}

.interactive-avatar__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form {
  display: flex;
}
.form .input-error {
  border: solid 0.1666666667rem hotpink;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__headline {
  color: #365a49;
  text-align: center;
  margin-bottom: 2.1111111111rem;
}
@media screen and (max-width: 480px) {
  .form__headline {
    margin-bottom: 0.8888888889rem;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 0.7222222222rem;
  }
}
.form__col:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.form__row {
  display: flex;
  margin-bottom: 0.7222222222rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.2777777778rem 0.6111111111rem;
  }
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    margin-right: 0;
    height: 5rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5555555556rem;
}
.form__controls:nth-last-child(2) {
  margin-bottom: 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .form__controls:nth-last-child(2) {
    margin-bottom: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form__btns {
    justify-content: center;
  }
}
.form__btns input:not(:last-child) {
  margin-right: 0.5555555556rem;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-right: 0.2777777778rem;
  }
}
.radio:last-child {
  margin-right: 0;
}

.radio--checkbox .radio__visible {
  border-radius: 0;
  position: relative;
}
.radio--checkbox .radio__visible .radio__checkmark {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #365a49;
  display: none;
  position: absolute;
  top: 15%;
  left: 10%;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio--checkbox .radio__elem:checked ~ .radio__visible .radio__checkmark {
  display: block;
}
.radio--checkbox .radio__elem:checked ~ .radio__visible::before {
  display: none;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: 0.6666666667rem;
}
.radio__visible::before {
  display: none;
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link, .fixed-menu__item:hover .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.map__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  padding-top: 1.1111111111rem;
  font-size: 1.1666666667rem;
}

.social-nets__list {
  display: flex;
}

.social-nets__item {
  margin-right: 1.1111111111rem;
}
.social-nets__item:last-child {
  margin-right: 0;
}

.social-nets__link {
  display: block;
  text-decoration: none;
  width: 23px;
  height: 23px;
  background: center center no-repeat;
}

.social-nets__icon {
  width: 1.2777777778rem;
  height: 1.2777777778rem;
  fill: #b2b2b2;
  transition: 0.3s;
}
.social-nets__icon:hover {
  fill: black;
}

.hamburger {
  display: none;
  position: fixed;
  top: 1.7222222222rem;
  right: 1.4444444444rem;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__icon {
  height: 1.1111111111rem;
  width: 1.3333333333rem;
  fill: white;
  margin-right: 10px;
}

.modal-menu {
  display: none;
  background: #343739;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 150;
}

.modal-menu__close {
  position: fixed;
  top: 1.7777777778rem;
  right: 1.4444444444rem;
  width: 20px;
  height: 20px;
  display: block;
}

.modal-menu__close-pic {
  width: 20px;
  height: 20px;
  fill: #c2c3c3;
}

.modal-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13vh;
  font-size: 2rem;
  color: #fff;
  margin: 0 auto;
}

.modal-menu__item {
  margin-bottom: 1.3888888889rem;
  display: block;
  width: 100%;
  text-align: center;
}
.modal-menu__item:last-child {
  margin-bottom: 0;
}

.modal-menu__link {
  display: block;
  text-decoration: none;
}

.modal {
  display: none;
}
.modal .btn {
  height: 50px;
}

.modal__container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  color: #000;
  margin-bottom: 15px;
}

.error-modal .modal__content {
  color: red;
}