// variables :

  // background colors:
    $blueBg: #86c3d7;
    $paleBg: #f8faf9;
  // font-colors:
    // color for btns and font in from section:
    $green: #365a49;

    // grey font color:
    $grey: #666666;

  // pale color for outline in WHY section:
    $pale2: #f3f5f3;


$z-fixed-menu: 100;
$baseFontSize: 18px;
$containerWidth: 940px;

// mixins
//// mixin for headlines in sections
@mixin headline ($color: black) {
  font-size: 48px;
  font-weight: bold;
  color: $color;
  text-transform: uppercase;
}

//normalize 
@import url('setups/normalize.css');

//base layout and fonts
@import url('setups/fonts.css');
@import 'setups/layout';

//components
//// temporary file for styles 
@import 'components/basic'


