* {
  box-sizing: border-box;
}

html {
  font-size: 18px;

  @include tablets {
    font-size: 17px;
  }

  @include phones {
    font-size: 16px; 
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "alegreya_sans", Helvetica, sans-serif;
  color: black;
  background: #fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}


.wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.maincontent {
  height: 100%;
  transition: transform 0.5s;
  will-change: transform;
}

.section {
  // min-height: 650px;
  // height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  color: black;

  @include tablets {
    min-height: 568px;
  }
}

.section-hero {
  background: url(img/decor/ornament.png) right bottom no-repeat;
  background-color: $blueBg;
  color: white;
  padding-bottom: 45px;

  @include tablets {
    background-position: right bottom 80%;
  }

  @include phones {
    background-position: right 5% bottom 80%;
    background-size: 80%;
  }

  &::before,
  &::after {
    @include tablets {
      display: none;
    }
  }

  &:before {
    content: url(img/decor/leaf.png);
    position: absolute;
    bottom: -40px;
    left: 2%;
  }

  &:after {
    content: url(img/decor/berries.png);
    position: absolute;
    bottom: -40px;
    right: 0;
  }
}


.section-why {
  background: url(img/why-us/decor/leaf-orn.png) left top 50% no-repeat;

  @include tablets {
    background-position: left top 12%;
  }

  @include phones {
    background: none;
  }

  &::before {
    content: url(img/why-us/decor/berry.png);
    position: absolute;
    left: 0;
    bottom: -80px;
    z-index: map-get($z-indexes, 'bg-items');

    @include phones {
      display: none;
    }
  }
}

.section-slider {
  background-color: $paleBg;

  &::before {
    content: url('img/slider/berry.png');
    position: absolute;
    right: 0;
    bottom: -216px;

    @include tablets {
      right: -20px;
      transform: scale(0.8);
    }

    @include phones {
      right: -50px;
      transform: scale(0.5);
    }
  }
}

.section-range {
  background: url(img/range/menu-bg.png) center center / cover no-repeat, black;
  justify-content: start;

  &::before {
    content: url(img/range/berry.png);
    position: absolute;
    top: -11%;
    left: 2%;
    z-index: map-get($z-indexes, 'bg-items');

    @include tablets {
      top: -6%;
      left: 4%;
      transform: scale(0.75);
    }

    @include phones {
      top: -11%;
      left: 0%;
    }
  }
}

.section-review {
  background: url(img/reviews/top-berries.png) right -6% top 9% no-repeat;

  @include phones {
    background: url(img/reviews/top-berries.png) right -15% top 0% / 35% no-repeat;
  }

  &::before {
    content: url(img/reviews/bot-berries.png);
    position: absolute;
    left: 0;
    bottom: -154px;
    z-index: map-get($z-indexes, 'bg-items');


    @include tablets {
      left: -2rem;
      bottom: -9rem;
    }

    @include phones {
      transform: scale(0.5);
    }
  }
}

.section-video {
  background-color: #f8faf9;

  &::before {
    content: url(img/player/leaf-top.png);
    position: absolute;
    right: 10%;
    top: 15%;

    @include tablets {
      right: 3%;
      top: 34%;
      transform: scale(0.7);
    }

    @include phones {
      right: -2%;
      top: 32%;
      transform: scale(0.7);
    }
  }

  &::after {
    content: url(img/player/leaf-bot.png);
    position: absolute;
    left: 7%;
    bottom: 0;

    @include tablets {
      left: -1%;
      bottom: 31%;
      transform: scale(0.7);
    }

    @include phones {
      left: -3%;
      bottom: 19%;
      transform: scale(0.7);
    }
  }
}

.section-form {
  background: url(img/form/leaf.png) right bottom 80px no-repeat,
    url(img/form/bot-berry.png) left 2% bottom 80px no-repeat,
    url(img/form/pattern.png) center center / cover no-repeat;
  color: $green;

  @include tablets {
    background: url(img/form/pattern.png) center center / cover no-repeat;
    color: $green;
  }

  &::before {
    content: url(img/form/top-berry.png);
    position: absolute;
    right: -90px;
    top: -168px;

    @include tablets {
      transform: scale(0.6);
    }

    @include phones {
      transform: scale(0.45);
    }
  }
}


.container {
  margin: 0 auto;
  width: 95%;
  max-width: 58.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container-hero {
  height: 100%;
  background: url(img/decor/choch.png) right center / 50% auto no-repeat;
  justify-content: space-between;

  @include tablets {
    background: none;
  }
}

.container-why {
  height: 100%;
  justify-content: center;
}

.container-slider {
  margin: 0 10px;
  justify-content: center;

  .bx-wrapper {
    background: transparent;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
  }
}

.container-review {
  height: 100%;
  justify-content: center;
}


.container-footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.section-headline {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  line-height: 1.2;

  @include phones {
    font-size: 40px;
    line-height: 1.1;
  }
}