.form {
  display: flex;

  .input-error {
    border: solid 3px hotpink;
  }

  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    padding: 0;
  }
}

.form__headline {
  color: $green;
  text-align: center;
  margin-bottom: 38px;

  @include phones {
    margin-bottom: 16px;
  }
}

.form__col {
  flex: 1;
  margin-right: 20px;

  @include tablets {
    margin-right: 0;
    margin-bottom: 0.7222222222rem;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__block {
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;

  @include tablets {
    padding: 5px 11px;
  }

  &:focus {
    border-color: #dee2bd;
    outline: none;
  }

  &--textarea {
    height: 180px;
    resize: none;

    @include tablets {
      margin-right: 0;
      height: 90px;
    }
  }
}


.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  &:nth-last-child(2) {
    margin-bottom: 40px;

    @include phones {
      margin-bottom: 20px;
    }
  }

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  display: flex;


  @include tablets {
    justify-content: center;
  }

  input:not(:last-child) {
    margin-right: 10px;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 18px;

  @include phones {
    margin-right: 5px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.radio--checkbox {
  .radio__visible {
    border-radius: 0;
    position: relative;

    .radio__checkmark {
      width: 20px;
      height: 20px;
      fill: $green;
      display: none;
      position: absolute;
      top: 15%;
      left: 10%;
    }
  }
}

.radio__elem {
  display: none;

  &:checked~.radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio--checkbox {
  .radio__elem:checked~.radio__visible {
    .radio__checkmark {
      display: block;
    }

    &::before {
      display: none;
    }
  }
}

.radio__visible {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: 12px;

  &::before {
    display: none;
    content: "";
    width: 14px;
    height: 14px;
    background: $green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}