.hamburger {
  display: none;
  position: fixed;
  top: 31px;
  right: 26px;
  z-index: map-get($z-indexes, 'fixed-menu');

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__icon {
  height: 20px;
  width: 24px;
  fill: white;
  margin-right: 10px;
}