
.modal {
  display: none;

  .btn {
    height: 50px;
  }
}

.modal__container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  color: #000;
  margin-bottom: 15px;
}

.error-modal {
  .modal__content {
    color: red;
  }
}