.modal-menu {
  display: none;
  background: #343739;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map-get($z-indexes, 'modal-menu');
}

.modal-menu__close {
  position: fixed;
  top: 32px;
  right: 26px;
  width: 20px;
  height: 20px;
  display: block;
}

.modal-menu__close-pic {
  width: 20px;
  height: 20px;
  fill: #c2c3c3;
}

.modal-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13vh;
  font-size: 36px;
  color: #fff;
  margin: 0 auto;
}

.modal-menu__item {
  margin-bottom: 25px;
  display: block;
  width: 100%;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal-menu__link {
  display: block;
  text-decoration: none;
}