.reason-why {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  position: relative;

  @include phones {
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }

  &::before {
    content: url(../img/why-us/decor/sep.png);
    position: absolute;
    top: 60px;
    right: 0;

    @include tablets {
      display: none;
    }
  }
}

.reason-why__pic {
  margin-bottom: 26px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: $pale2;
  position: relative;

  @include phones {
    margin-bottom: 0;
    margin-right: 2%;
    width: 23vw;
    height: 23vw;
  }
}

.reason-why__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;


  @include phones {
    max-width: 70%;
  }
}

.reason-why__text {
  text-align: left;
  font-size: 16px;

  @include phones {
    width: 70%;
  }
}

.reason-why__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;

  @include phones {
    text-align: left;
    margin-bottom: 0;
  }
}

.reason-why__desc {
  color: $grey;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;

  @include phones {
    text-align: left;
  }
}