* {
  box-sizing: border-box;
}

html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: ($baseFontSize - 1px);
  }

  @include phones {
    font-size: ($baseFontSize - 2px);
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "alegreya_sans", Helvetica, sans-serif;
  color: black;
  background: #fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  min-height: rem(650px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  color: black;

  @include tablets {
    min-height: rem(568px);
  }

  &-hero {
    background: url(../img/jpg/decor/ornament.png) right bottom no-repeat;
    background-color: $blueBg;
    color: white;
    padding-bottom: rem(45px);

    @include tablets {
      background-position: right bottom 80%;
    }

    @include phones {
      background-position: right 5% bottom 80%;
      background-size: 80%;
    }

    &::before,
    &::after {
      @include tablets {
        display: none;
      }
    }

    &:before {
      content: url(../img/jpg/decor/leaf.png);
      position: absolute;
      bottom: rem(-40px);
      left: 2%;
    }

    &:after {
      content: url(../img/jpg/decor/berries.png);
      position: absolute;
      bottom: rem(-40px);
      right: 0;
    }
  }

  &-why {
    background: url(../img/jpg/why-us/decor/leaf-orn.png) left top 50% no-repeat;

    @include tablets {
      background-position: left top 12%;
    }

    @include phones {
      background: none;
    }

    &::before {
      content: url(../img/jpg/why-us/decor/berry.png);
      position: absolute;
      left: 0;
      bottom: rem(-80px);

      @include phones {
        display: none;
      }
    }
  }

  &-review {
    background: url(../img/jpg/reviews/top-berries.png) right -6% top 9% no-repeat;
    @include phones {
      background: url(../img/jpg/reviews/top-berries.png) right -15% top 0% / 35% no-repeat;
    }
    
    &::before {
      content: url(../img/jpg/reviews/bot-berries.png);
      position: absolute;
      left: 0;
      bottom: rem(-100px);

      @include tablets {
        left: -2rem;
        bottom: -9rem;
      }

      @include phones {
        left: -2rem;
        bottom: -9rem;
        transform: scale(0.5);
      }
    }
  }

  &-form {
    background: url(../img/jpg/form/leaf.png) right bottom rem(80px) no-repeat,
      url(../img/jpg/form/bot-berry.png) left 2% bottom rem(80px) no-repeat,
      url(../img/jpg/form/pattern.png) center center / cover no-repeat;
    color: $green;

    @include tablets {
      background: url(../img/jpg/form/pattern.png) center center / cover no-repeat;
      color: $green;
    }

    &::before {
      content: url(../img/jpg/form/top-berry.png);
      position: absolute;
      right: rem(-90px);
      top: rem(-168px);

      @include tablets {
        transform: scale(0.6);
      }

      @include tablets {
        transform: scale(0.45);
      }
    }
  }
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: $containerWidth;
  position: relative;
  display: flex;
  flex-direction: column;


  &-hero {
    height: 100%;
    background: url(../img/jpg/decor/choch.png) right center / 50% auto no-repeat;
    // display: flex;
    // flex-direction: column;
    justify-content: space-between;

    @include tablets {
      background: none;
    }
  }

  &-why {
    height: 100%;
    justify-content: center;
  }

  &-review {
    height: 100%;
    justify-content: center;
  }


  &-footer {
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include phones {
      flex-direction: column;
      align-items: center;
    }
  }
}
