.header {
  display: flex;
  justify-content: space-between;
  padding-top: rem(24px);
  align-items: center;
}

.menu {
  margin: 0 rem(30px);

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.menu__item {
  margin-right: rem(27px);
  margin-top: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;

}

.contacts {
  flex-shrink: 0;

  &--header {
    @include tablets {
      display: none;
    }
  }

  &--footer {
    @include phones {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &:hover {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }

}

.contacts__phone {
  font-style: normal;
  text-decoration: none;

  &--header {
    font-size: rem(24px);
    white-space: nowrap;
  }

  &--footer {
    font-size: rem(21px);
    color: $green;
  }
}

.phone-icon {
  width: 12px;
  height: 12px;
  fill: white;

  &--footer {
    fill: $green;
  }
}

.section-headline {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  line-height: 1.2;

  @include phones {
    font-size: rem(40px);
    line-height: 1.1;
  }
}

.hero-content {

  @include tablets {
    padding-bottom: 9.3rem;
  }

  @include phones {
    padding-bottom: rem(80px);
  }
}

.order {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;

  @include tablets {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
      content: "";
      width: 80vw;
      height: 40vh;
      background: url(../img/jpg/tablets/hero-bg.png) center center / contain no-repeat;
    }
  }

  @include phones {

    &::before {
      width: 60vw;
      height: 30vh;
    }
  }
}

.order__headline {
  color: white;
  margin-bottom: rem(5px);
  line-height: 1.2;

  @include tablets {
    margin-bottom: rem(20px);
  }

  @include phones {
    font-size: rem(40px);
    max-width: 90%;
    margin-bottom: rem(8px);
  }
}

.order__description {
  font-size: rem(21px);
  margin-bottom: rem(34px);
  line-height: 1.2;

  @include tablets {
    padding: 0 25%;
    margin-bottom: rem(26px);
  }

  @include phones {
    padding: 0 15%;
    font-size: rem(18px);
  }
}


.btn {
  display: inline-block;
  // эксперимент
  height: rem(58px);
  width: 156px;
  font-size: 19px;
  font-weight: 800;
  padding: 17px 0;
  border-radius: 40px;
  outline: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  z-index: $z-index-btn;
}

.btn--theme--white {
  color: $green;
  background-color: white;

  &:hover {
    color: white;
    background-color: $green;
  }

  &:active {
    font-weight: bold;
  }
}

.btn--theme--green {
  color: #fff;
  background-color: $green;

  &:hover {
    color: $green;
    background-color: white;
  }
}

.btn--theme--transparent {
  width: rem(100px);
  background: transparent;
  color: #000;
  text-transform: none;

  &:hover {
    color: $green;
  }
}



.feature {
  display: flex;
  width: 50%;
  line-height: 1.3;

  @include tablets {
    display: none;
  }
}

.feature__item {
  display: flex;
  margin-right: rem(46px);

  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: rem(45px);
  height: rem(45px);
  fill: #c6f7ff;
  margin-right: rem(7px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(85px);
}

.why-chocco {
  @include phones {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


.why-chocco__highlight {
  padding: 0 22%;
  margin-bottom: 2.7777777778rem;
  text-align: center;

  @include phones {
    padding: 0 8%;
    margin-bottom: 2vh;
    line-height: 1.1;
  }
}

.why-chocco__desc {
  color: $grey;
}

.why-chocco__list {
  display: flex;
  justify-content: space-between;


  @include phones {
    flex-direction: column;
    align-items: center;
    height: 70%;
  }
}

.why-chocco__item {
  padding-right: 7.5%;

  @include phones {
    padding-right: 0;
    margin-bottom: 3vh;
  }

  &:last-child {
    padding-right: 0;

    @include phones {
      margin-bottom: 0;
    }

    &::before {
      display: none;
    }
  }
}


.reason-why {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  position: relative;

  @include phones {
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }

  &::before {
    content: url(../img/jpg/why-us/decor/sep.png);
    position: absolute;
    top: rem(60px);
    right: 0;

    @include tablets {
      display: none;
    }
  }
}

.reason-why__pic {
  margin-bottom: rem(26px);
  width: rem(125px);
  height: rem(125px);
  border-radius: 50%;
  background-color: $pale2;
  position: relative;

  @include phones {
    margin-bottom: 0;
    margin-right: 2%;
    width: 23vw;
    height: 23vw;
  }
}

.reason-why__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;


  @include phones {
    max-width: 70%;
  }
}

.reason-why__text {
  text-align: left;
  font-size: 16px;

  @include phones {
    width: 70%;
  }
}

.reason-why__title {
  font-size: rem(27px);
  font-weight: bold;
  margin-bottom: rem(15px);
  text-align: center;

  @include phones {
    text-align: left;
    margin-bottom: 0;
  }
}

.reason-why__desc {
  color: $grey;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;

  @include phones {
    text-align: left;
  }
}

.slider {
  display: flex;
  justify-content: center;

  @include tablets {
    position: relative;
  }
}

.slider__arrow {
  width: rem(16px);
  fill: #151515;

  @include tablets {
    position: absolute;
  }
}

.arrow-left {
  transform: scale(-1, 1);

  @include tablets {
    top: 9%;
    left: 5%;
  }
}

.arrow-right {
  @include tablets {
    top: 9%;
    right: 5%;
  }
}

.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    flex-direction: column;
  }
}

.slide__pic {
  @include tablets {
    width: 50%;
    margin-bottom: rem(25px);
  }

  @include phones {
    width: 70%;
    margin-bottom: rem(5px);
  }
}

.slide__content {
  padding: 0 60px;
  width: 55%;
  display: flex;
  flex-direction: column;

  @include tablets {
    padding: 0;
    width: 80%;
    align-items: center;
  }

  @include phones {
    width: 90%;
  }
}

.slide__composition {
  position: relative;
  width: rem(90px);
  height: rem(90px);
  border-radius: 5px;
  background: $blueBg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(30px);

  &:hover {
    background: #60aacc;

    .composition {
      display: block;
    }
  }

  @include tablets {
    display: none;
  }
}

.slide__composition-pic {
  width: 51px;
  height: 51px;
  margin-bottom: rem(8px);
  fill: #fff;
}

.slide__composition-text {
  font-size: rem(14px);
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.composition {
  display: none;
  position: absolute;
  bottom: -266%;
  right: -306%;
  width: 275px;
  background: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.composition__list {
  padding: 22px 18px 25px 30px;
}

.composition__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.composition__icon {
  width: 37px;
  height: 37px;
}

.composition__ingredient {
  width: 55%;
  font-weight: 500;
}

.composition__weight {
  font-weight: bold;
}

.slide__headline {
  font-size: rem(36px);
  margin-bottom: rem(12px);

  @include tablets {
    text-align: center;
  }
}

.slide__text {
  color: $grey;
  margin-bottom: rem(35px);
  line-height: 1.2;

  @include tablets {
    text-align: center;
  }
}

.slide__traits {
  display: flex;
  margin-bottom: rem(15px);

  @include tablets {
    justify-content: center;
  }
}

.slide__calories {
  margin-right: rem(50px);
}


.slide__trait-value {
  font-weight: bold;
  display: block;
  color: #000;
}

.slide__price {
  display: flex;
  align-items: center;

  @include tablets {
    justify-content: center;
  }
}

.slide__price-tag {
  font-size: rem(60px);
  font-weight: 300;
  color: #151515;
  margin-right: rem(30px);
  white-space: nowrap;

  @include phones {
    margin-right: rem(15px);
    ;
  }

  span {
    font-size: rem(40px);

    @include phones {
      font-size: rem(35px);
    }
  }
}


.reviews {
  @include phones {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.reviews__content-part {
  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 80%;
  }
}

.reviews__headline {
  text-align: center;
  margin-bottom: rem(24px);

  @include tablets {
    margin-bottom: rem(30px);
  }

  @include phones {
    margin-bottom: 3vh;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  margin-right: rem(12px);

  &:last-child {
    margin-right: 0;
  }
}


.review {
  background: url(../img/jpg/reviews/in-ornament.png) right top no-repeat;
  background-color: #f8faf9;
  display: flex;
  padding: rem(51px) rem(180px) rem(35px) rem(46px);
  margin-bottom: rem(20px);
  position: relative;
  overflow: hidden;

  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding: rem(53px) rem(20px) rem(20px) rem(30px);
    margin-bottom: rem(45px);
  }

  @include phones {
    background-position: right top 10%;
    background-repeat: no-repeat;
    background-size: 25%;
    margin-bottom: 3vh;
    padding-top: rem(25px);
  }

  &::before {
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: rem(-65px);

    @include phones {
      width: rem(81px);
      height: rem(81px);
    }
  }
}

.review__avatar {
  width: rem(254px);
  height: rem(260px);
  overflow: hidden;
  margin-right: 2.5%;

  @include tablets {
    width: rem(145px);
    height: rem(145px);
    margin-bottom: rem(12px);
    margin-right: 0;
  }

  @include phones {
    width: rem(125px);
    height: rem(125px);
    margin-bottom: rem(8px);
  }
}

.review__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.review__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: rem(10px);

  @include phones {
    padding-top: 0;
  }
}

.review__title {
  font-size: rem(30px);
  font-weight: bold;
  margin-bottom: rem(18px);
}

.review__text {
  color: $grey;
  margin-bottom: rem(32px);
  line-height: 1.2;

  @include tablets {
    margin-bottom: rem(15px);
  }
}

.review__name {
  font-weight: 500;
}



.interactive-avatar {
  width: rem(80px);
  height: rem(80px);
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid transparent;
  position: relative;
  z-index: $z-index-interactive-avatar;

  @include tablets {
    width: 70px;
    height: 70px;
  }

  &--active,
  &:hover {
    border-color: $green;
  }
}

.interactive-avatar__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    padding: 0;
  }
}

.form__headline {
  color: $green;
  text-align: center;
  margin-bottom: rem(38px);

  @include phones {
    margin-bottom: rem(16px);
  }
}

.form__col {
  flex: 1;
  margin-right: rem(20px);

  @include tablets {
    margin-right: 0;
    margin-bottom: 0.7222222222rem;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(13px);

  &:last-child {
    margin-bottom: 0;
  }
}

.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(11px);
  border: solid rem(3px) transparent;

  @include tablets {
    padding: rem(5px) rem(11px);
  }

  &:focus {
    border-color: #dee2bd;
    outline: none;
  }

  &--textarea {
    height: rem(180px);
    resize: none;

    @include tablets {
      margin-right: 0;
      height: rem(90px);
    }
  }
}


.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(10px);

  &:nth-last-child(2) {
    margin-bottom: rem(40px);

    @include phones {
      margin-bottom: rem(20px);
    }
  }

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  display: flex;


  @include tablets {
    justify-content: center;
  }

  input:not(:last-child) {
    margin-right: rem(10px);
  }
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(18px);

  @include phones {
    margin-right: rem(5px);
  }

  &:last-child {
    margin-right: 0;
  }
}

.radio--checkbox {
  .radio__visible {
    border-radius: 0;
    position: relative;

    .radio__checkmark {
      width: rem(20px);
      height: rem(20px);
      fill: $green;
      display: none;
      position: absolute;
      top: 15%;
      left: 10%;
    }
  }
}

.radio__elem {
  display: none;

  &:checked~.radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio--checkbox {
  .radio__elem:checked~.radio__visible {
    .radio__checkmark {
      display: block;
    }

    &::before {
      display: none;
    }
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: rem(12px);

  &::before {
    display: none;
    content: "";
    width: rem(14px);
    height: rem(14px);
    background: $green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;
}

.fixed-menu__item {
  margin-bottom: rem(5px);

  &:last-child {
    margin-bottom: 0;
  }

  &--active,
  &:hover {
    .fixed-menu__link {
      border-color: #fff;
    }
  }
}

.fixed-menu__link {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.map__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  padding-top: rem(20px);
  font-size: rem(21px);
}


.social-nets__list {
  display: flex;
}

.social-nets__item {
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.social-nets__link {
  display: block;
  text-decoration: none;
  width: 23px;
  height: 23px;
  background: center center no-repeat;
}

.social-nets__icon {
  width: rem(23px);
  height: rem(23px);
  fill: #b2b2b2;
  transition: 0.3s;

  &:hover {
    fill: black;
  }
}

.hamburger {
  display: none;
  position: fixed;
  top: rem(31px);
  right: rem(26px);
  z-index: $z-fixed-menu;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__icon {
  height: rem(20px);
  width: rem(24px);
  fill: white;
  margin-right: 10px;
}

.modal-menu {
  display: none;
  background: #343739;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal-menu;
}

.modal-menu__close {
  position: fixed;
  top: rem(32px);
  right: rem(26px);
  width: 20px;
  height: 20px;
  display: block;
}

.modal-menu__close-pic {
  width: 20px;
  height: 20px;
  fill: #c2c3c3;
}

.modal-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13vh;
  font-size: rem(36px);
  color: #fff;
  margin: 0 auto;
}

.modal-menu__item {
  margin-bottom: rem(25px);
  display: block;
  width: 100%;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal-menu__link {
  display: block;
  text-decoration: none;
}