.btn {
  display: inline-block;
  height: rem(58px);
  width: 156px;
  font-size: 19px;
  font-weight: 800;
  padding: 17px 0;
  border-radius: 40px;
  outline: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  z-index: map-get($z-indexes, 'btns');
}

.btn--theme--white {
  color: $green;
  background-color: white;

  &:hover {
    color: white;
    background-color: $green;
  }

  &:active {
    font-weight: bold;
  }
}

.btn--theme--green {
  color: #fff;
  background-color: $green;

  &:hover {
    color: $green;
    background-color: white;
  }
}

.btn--theme--transparent {
  width: rem(100px);
  background: transparent;
  color: #000;
  text-transform: none;

  &:hover {
    color: $green;
  }
}