.feature {
  display: flex;
  width: 50%;
  line-height: 1.3;

  @include tablets {
    display: none;
  }
}

.feature__item {
  display: flex;
  margin-right: rem(46px);

  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: rem(45px);
  height: rem(45px);
  fill: #c6f7ff;
  margin-right: rem(7px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(85px);
}