.slider {
  display: flex;
  justify-content: center;

  @include tablets {
    position: relative;
  }
}

.slider__arrow {
  width: rem(18px);
  fill: #151515;
  cursor: pointer;
  z-index: map-get($z-indexes, 'btns');

  @include tablets {
    position: absolute;
  }
}

.arrow-left {
  transform: scale(-1, 1);

  @include tablets {
    top: 9%;
    left: 8%;
  }
}

.arrow-right {
  @include tablets {
    top: 9%;
    right: 8%;
  }
}

.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    flex-direction: column;
  }
}

.slide__pic {
  @include tablets {
    width: 50%;
    margin-bottom: rem(25px);
  }

  @include phones {
    width: 70%;
    margin-bottom: rem(5px);
  }
}

.slide__content {
  padding: 0 60px;
  width: 55%;
  display: flex;
  flex-direction: column;

  @include tablets {
    padding: 0;
    width: 80%;
    align-items: center;
  }

  @include phones {
    width: 90%;
  }
}

.slide__composition {
  position: relative;
  width: rem(90px);
  height: rem(90px);
  border-radius: 5px;
  background: $blueBg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(30px);

  &:hover {
    background: #60aacc;

    .composition {
      display: block;
    }
  }

  @include tablets {
    display: none;
  }
}

.slide__composition-pic {
  width: 51px;
  height: 51px;
  margin-bottom: rem(8px);
  fill: #fff;
}

.slide__composition-text {
  font-size: rem(14px);
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.slide__headline {
  font-size: rem(36px);
  margin-bottom: rem(12px);

  @include tablets {
    text-align: center;
  }
}

.slide__text {
  color: $grey;
  margin-bottom: rem(35px);
  line-height: 1.2;

  @include tablets {
    text-align: center;
  }

  @include phones {
    margin-bottom: rem(15px);
  }
}

.slide__traits {
  display: flex;
  margin-bottom: rem(15px);

  @include tablets {
    justify-content: center;
  }

  @include phones {
    margin-bottom: rem(5px);
  }
}

.slide__calories {
  margin-right: rem(50px);
}


.slide__trait-value {
  font-weight: bold;
  display: block;
  color: #000;
}

.slide__price {
  display: flex;
  align-items: center;

  @include tablets {
    justify-content: center;
  }
}

.slide__price-tag {
  font-size: rem(60px);
  font-weight: 300;
  color: #151515;
  margin-right: rem(30px);
  white-space: nowrap;

  @include phones {
    margin-right: rem(15px);
    ;
  }

  span {
    font-size: rem(40px);

    @include phones {
      font-size: rem(35px);
    }
  }
}